<main class="form">
  <div>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 mb-3 fw-normal">Sign In</h3>
      <hr>
      <div class="form-floating from-input">
        <input type="email" class="form-control" id="floatingInput" formControlName="email"
          placeholder="Enter your email id">
        <label for="floatingInput">Email address*</label>
        <div *ngIf="signInForm.controls['email'].errors && (signInForm.controls['email'].touched)"
          class="validation-error">
          Enter valid Email
        </div>
      </div>
      <div class="form-floating from-input">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password"
          placeholder="Enter your Password">
        <label for="floatingPassword">Password*</label>
        <div
          *ngIf="signInForm.controls['password'].errors && (signInForm.controls['password'].touched || signInForm.controls['password'].dirty)"
          class="validation-error">
          Enter password
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-secondary sign-in-button" [disabled]="!signInForm.valid" type="submit">Sign in</button>
    </form>
    <div class="link-container">
      <p>Not a member? <a routerLink="/signUp" routerLinkActive="active">Create account</a></p>
    </div>
  </div>
</main>