<app-contact-header></app-contact-header>
<div class="header list-header">
  <h4>User List</h4>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" (change)="search()" placeholder="Search.." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="search()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <button *ngIf="searchTerm.length" class="btn btn-danger" type="button" (click)="searchClear()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
  </div>
  <div></div>
</div>
<div class="main-page">
  <table class="table" *ngIf="userList.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!userList.length">
    <div class="data-not-found">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
      </svg>
      <h5>Users Not Found..!</h5>
    </div>
  </div>
  <div class="list-footer" *ngIf="userList.length">
    <div class="dropdown-manu"> PerPage:
      <select class="btn dropdown-btn" id="perPage" (change)="onSelectPageSize($event)">
        <option class="dropdown-item" href="#">5</option>
        <option class="dropdown-item" href="#">10</option>
        <option class="dropdown-item" href="#">20</option>
      </select>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item pre" (click)="getPage(currentPage - 1)" [ngClass]="{disabled:currentPage === 1}"><a
            class="page-link">Previous</a></li>
        <li class="page-item" (click)="getPage(page)" [ngClass]="{active:currentPage === page}"
          *ngFor="let page of pagginationNumber"><a class="page-link">{{ page }}</a></li>
        <li class="page-item next" (click)="getPage(currentPage + 1)" [ngClass]="{disabled:currentPage === totalPages}"><a
            class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>