.main-page{
    padding: 15px;
    table{
      color: white;
    }
}

.list-header {
  padding: 5px;
  color: white;
  box-shadow: 0px 0px 2px black;
  background-color: #003f57;
  h4 {
      font-weight: lighter;
      font-size: larger;
  }
  .input-group{
      width: 50%;
      button{
          color: white;
          border-radius: 0px;
      }
  }
}


.list-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dropdown-manu{
      color: white;
      .dropdown-btn{
          background-color: transparent;
          border: 2px solid white;
          color: white;
      }
  }
  .page-link{
      color: #fff;
      background-color: transparent;
      &:hover{
          background-color: white;
          color: black;
      }
  }
  .page-item{
      a {
          cursor: pointer;
      }
  }
  .pre{
      border-radius: 5px 0px 0px 5px;
  }
  .next{
      border-radius: 0px 5px 5px 0px;
  }
}
.active{
  box-shadow: 2px 2px 5px black !important;
}
.disabled{
  background-color: rgb(59, 59, 59) !important;
  
  a{
      color: #000000 !important;
      border:none !important;
  }
}
