<main class="form-contact">
  <form [formGroup]="contactForm">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingNameInput" formControlName="name"
        placeholder="Enter your name">
      <label for="floatingNameInput">Name</label>
      <div *ngIf="contactForm.controls['name'].errors && (contactForm.controls['name'].touched)"
        class="validation-error">
        Enter Name
      </div>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingEmailInput" formControlName="email"
        placeholder="Enter your email id">
      <label for="floatingEmailInput">Email address</label>
      <div *ngIf="contactForm.controls['email'].errors && (contactForm.controls['email'].touched)"
        class="validation-error">
        Enter valid Email
      </div>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="floatingPhoneInput" formControlName="number"
        placeholder="Enter your phone number">
      <label for="floatingPhoneInput">Phone number</label>
      <div *ngIf="contactForm.controls['number'].errors && (contactForm.controls['number'].touched)"
        class="validation-error">
        Enter valid Number
      </div>
    </div>
    <div class="form-floating">
      <input type="file" class="form-control" (change)="onFileSelected($event)" formControlName="image"
        id="floatingImageInput">
    </div>
  </form>
</main>