<app-contact-header></app-contact-header>
<div class="box">
    <!-- <div class="upper-icons">
      <svg color="white" xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 0 24 24" (click)="back()">
        <path fill="currentColor" d="m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55L10 18Z" />
      </svg>
    </div> -->
  
    <div class="profile-circle">
      <img src="{{noImage}}" sizes="c" alt="">
    </div>
  
    <div class="profile-info">
      <h4>{{userDetail.name}}</h4>
      <p> {{userDetail.email}}</p>
    </div>

    <nav>
        <ul>
          <li><a class="social menutext" href="#">
             Edit Profile</a></li>
          <li><a class="social menutext" href="#">Change password</a></li>
        </ul>
      </nav>

  </div>